<html>

<head>

</head>

<body>
    <!--  -->
    <div id="answer10" class="d-none anwserCard">
        <h6 id="textAnswer"></h6>
        <div class="container">
            <p style="text-align: center;margin-bottom:40px">Nesses casos, não se deve fazer nada. Os fios de tensão elétrica são um perigo inclusive à sua vida!</p>
                <h3 style="margin-top: 20px;" id="textoTrofeu">Parabéns, você ganhou o troféu de <span id="spanTrofeu"></span>!</h3>
                <div style="display: flex;justify-content:center">
                    <img id="imgTrofeu" src="" alt="" style="width:150px">
                </div>
        
                <div style="display: flex;justify-content:center">
                    <button class="btn" id="nextLevel" style="margin-top: 10px;background:#F95842">Próximo Nível</button><br>
                </div>
                <div style="display: flex;justify-content:center">  
                    <button class="btn" id="voltarMenu" style="margin-top: 10px;background:#F95842">Voltar Menu</button><br>
                </div>
            </div>


    </div>

</body>

</html>