<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section style="width:300px">
        <h2>1. Qual a medida mais segura para prevenir queimaduras ao fogão?</h2>
        <img src=".\assets\questions\Cozinha01.png" id='img-quiz1' class="question-img" alt="" style="width:300px">
        <button class="anwser" id="answer1a">A) Deixar as panelas com os cabos voltados para fora</button>
        <button class="anwser" id="answer1b">B) Utilizar utensílios metálicos em panelas quentes</button>
        <button class="anwser" id="answer1c">C) Colocar panos de cozinha cobrindo as panelas</button>
        <button class="anwser" id="answer1d">D) Deixar as panelas com os cabos voltados para dentro</button>
    </section>
</body>

</html>