<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section style="width:300px">
        <h2>2. Você se queimou e bolhas de queimadura apareceram na sua pele. O que você deve fazer?
        <img src="" id="img-quiz2" class="question-img" alt="" style="object-position:center top;">
        <button class="anwser" id="answer2a">A) Passar farinha de trigo e ir dormir</button>
        <button class="anwser" id="answer2b">B) Estourar a(s) bolha(s) e passar borra de café</button>
        <button class="anwser" id="answer2c">C) Lavar com água corrente e ir ao hospital</button>
        <button class="anwser" id="answer2d">D) Passar gelo e depois pasta de dente e ir ao hospital</button>
    </section>
</body>

</html>