<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section style="width:300px">
        <h2>10. Ao soltar pipa, o que devo fazer quando ela se prender aos fios de tensão elétrica?
            <img src=".\assets\questions\Rua02.png" id="img-quiz10" class="question-img" alt="" style="object-position:center top;">
            <button class="anwser" id="answer10a">A) Calçar chinelos de borracha e tentar soltá-la</button>
            <button class="anwser" id="answer10b">B) Nada... É melhor abandonar a pipa</button>
            <button class="anwser" id="answer10c">C) Utilizar um cabo de borracha</button>
            <button class="anwser" id="answer10d">D) Pegar uma escada e soltá-la com a mão</button>
    </section>
</body>

</html>