<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section style="width:300px">
        <h2>8. Ao acender a churrasqueira com álcool, você sofreu uma queimadura. O que fazer?
            <img src=".\assets\questions\Churrasqueira02.png" id="img-quiz8" class="question-img" alt="" style="object-position:center top;">
            <button class="anwser" id="answer8a">A) Nada, afinal, não está doendo</button>
            <button class="anwser" id="answer8b">B) Cobrir com panos limpos e ir imediatamente ao hospital</button>
            <button class="anwser" id="answer8c">C) Limpar a ferida com álcool e ir ao hospital</button>
            <button class="anwser" id="answer8d">D) Passar gelo e pasta de dente e, quando possível, ir ao hospital</button>
    </section>
</body>

</html>