<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section style="width:300px">
        <h2>9. Qual o intervalo de horário em que mais devo evitar exposição ao sol?
        <img src="" id="img-quiz9" class="question-img" alt="" style="object-position:center top;">
        <button class="anwser" id="answer9a">A) 9h às 11h</button>
        <button class="anwser" id="answer9b">B) 12h às 15h</button>
        <button class="anwser" id="answer9c">C) 10h às 16h</button>
        <button class="anwser" id="answer9d">D) 13h às 18h</button>
    </section>
</body>

</html>