<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section style="width:300px">
        <h2>3. Dentre o que tenho em casa, quais os produtos que posso usar em casos de queimadura que não precisam de orientação médica?
            <img src=".\assets\questions\Sala01.png" id="img-quiz3" class="question-img" alt="" style="object-position:center top;">
            <button class="anwser" id="answer3a">A) Creme hidratante</button>
            <button class="anwser" id="answer3b">B) Borra de café</button>
            <button class="anwser" id="answer3c">C) Pimenta</button>
            <button class="anwser" id="answer3d">D) Nenhum</button>
    </section>
</body>

</html>