<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section style="width:300px">
        <h2>7. Qual a maneira correta de acender a churrasqueira?
        <img src="" id="img-quiz7" class="question-img" alt="" style="object-position:center top;">
        <button class="anwser" id="answer7a">A) Despejar álcool diretamente na brasa</button>
        <button class="anwser" id="answer7b">B) Utilizar líquidos para acelerar o processo</button>
        <button class="anwser" id="answer7c">C) Utilizar acendedor elétrico ou acendedor de carvão</button>
        <button class="anwser" id="answer7d">D) Acender papel diretamente na brasa</button>
    </section>
</body>

</html>