<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section style="width:300px">
        <h2>6. Qual a prática mais segura para prevenir queimaduras ao lidar com produtos químicos?
            <img src=".\assets\questions\Lavanderia02.png" id="img-quiz6" class="question-img" alt="" style="object-position:center top;">
            <button class="anwser" id="answer6a">A) Usar luvas de proteção</button>
            <button class="anwser" id="answer6b">B) Usar produtos naturais</button>
            <button class="anwser" id="answer6c">C) Envolver as mãos em sacos plásticos</button>
            <button class="anwser" id="answer6d">D) Não usar produtos químicos</button>
    </section>
</body>

</html>