<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section style="width:300px">
        <h2>5. Qual a forma mais segura de utilizar o ferro de passar?
        <img src="" id="img-quiz5" class="question-img" alt="" style="object-position:center top;">
        <button class="anwser" id="answer5a">A) Deixar o ferro ligado enquanto faz outras tarefas</button>
        <button class="anwser" id="answer5b">B) Utilizar o ferro em uma superfície estável e resistente</button>
        <button class="anwser" id="answer5c">C) Passar as roupas com o ferro ainda molhado</button>
        <button class="anwser" id="answer5d">D) Guardar o ferro imediatamente após o uso</button>
    </section>
</body>

</html>