<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section style="width:300px">
        <h2>4. Enquanto mexia na fiação de casa, tomei um choque. Apareceu um ponto escuro na minha mão e no meu pé, e aí?
            <img src="" id="img-quiz" class="question-img" alt="" style="object-position:center top;">
            <button class="anwser" id="answer4a">A) Ir para o hospital, por risco de arritmia</button>
            <button class="anwser" id="answer4b">B) Enfaixar a mão e o pé para evitar infecção</button>
            <button class="anwser" id="answer4c">C) Passar pomada de assadura, para diminuir a queimadura</button>
            <button class="anwser" id="answer4d">D) Lavar as mãos, para limpar o machucado</button>
    </section>
</body>

</html>