<!DOCTYPE html>
<html>

<head>
    <style>
        .button {
            border: none;
            padding: 0;
            background: none;
            cursor: pointer;
        }
        
        .button img {
            max-width: 50px;
            margin: 5px;
        }
    </style>
</head>

<body>
    <div style="display: flex;">
        <button class="button" id="iconesom">
        <img src="./assets/iconesom.png" alt="" style="width: 40px" id="imagemSom">
    </button>
        <button class="button" id="iconePersonagem">
        <img src="./assets/iconepersonagem.png" alt="" style="width: 40px" id="iconepersonagem">
    </button>
    </div>
</body>

</html>