<html>

<head>

</head>

<body>
    <!--  -->
    <div id="telaFinal">
        <div class="container">
            <h6>Parabéns</h6>
            <p style="text-align: center;">Você chegou ao final do jogo e agora já deve saber tudo o que é necessário para prevenir queimaduras e o que não se deve fazer. Estamos muito felizes em acompanhar sua trajetória à sabedoria. Agora é só praticar e ensinar quem não sabe! </p>

                <p style="text-align: center;">O seu desempenho no jogo foi: </p>
                <h1 id="progressoTotal1" style="color: #FFF;text-align:center;margin-top: 30px;"></h1> 

                <div style="display: flex;justify-content:center">
                    <button class="btn" id="menuInicial" style="margin-top: 10px;background:#F95842">Menu Inicial</button><br>
                </div>
                
            </div>


    </div>
</body>

</html>