<html>

<head>

</head>

<body>
    <!--  -->
    <div id="trofeusVisible">
        <div style="display: flex;justify-content:center;">
            <div>
                <div style="display: flex;justify-content:center">
                    <img id="imgTrofeu0" src="" style="width:80px" alt="">
                </div>
                <button class="btn" id="botaoFase1" style="width: auto; text-align: center;font-size:1rem;">FASE 1</button>
            </div>
            <div>
                <div style="display: flex;justify-content:center">
                    <img id="imgTrofeu1" src="" style="width:80px" alt="">
                </div>
                <button class="btn" id="botaoFase2" style="width: auto; text-align: center;font-size:1rem;">FASE 2</button>
            </div>
            <div>
                <div style="display: flex;justify-content:center">
                    <img id="imgTrofeu2" src="" style="width:80px" alt="">
                </div>
                <button class="btn" id="botaoFase3" style="width: auto; text-align: center;font-size:1rem;">FASE 3</button>
            </div>


        </div>

        <div style="display: flex;justify-content:center;">
            <div>
                <div style="display: flex;justify-content:center">
                    <img id="imgTrofeu3" src="" style="width:80px" alt="">
                </div>
                <button class="btn" id="botaoFase4" style="width: auto; text-align: center;font-size:1rem;">FASE 4</button>
            </div>
            <div>
                <div style="display: flex;justify-content:center">
                    <img id="imgTrofeu4" src="" style="width:80px" alt="">
                </div>
                <button class="btn" id="botaoFase5" style="width: auto; text-align: center;font-size:1rem;">FASE 5</button>
            </div>
            <div>
                <div style="display: flex;justify-content:center">
                    <img id="imgTrofeu5" src="" style="width:80px" alt="">
                </div>
                <button class="btn" id="botaoFase6" style="width: auto; text-align: center;font-size:1rem;">FASE 6</button>
            </div>
            <div>
                <div style="display: flex;justify-content:center">
                    <img id="imgTrofeu6" src="" style="width:80px" alt="">
                </div>
                <button class="btn" id="botaoFase7" style="width: auto; text-align: center;font-size:1rem;">FASE 7</button>
            </div>

        </div>

        <div style="display: flex;justify-content:center;">

            <div>
                <div style="display: flex;justify-content:center">
                    <img id="imgTrofeu7" src="" style="width:80px" alt="">
                </div>
                <button class="btn" id="botaoFase8" style="width: auto; text-align: center;font-size:1rem;">FASE 8</button>
            </div>
            <div>
                <div style="display: flex;justify-content:center">
                    <img id="imgTrofeu8" src="" style="width:80px" alt="">
                </div>
                <button class="btn" id="botaoFase9" style="width: auto; text-align: center;font-size:1rem;">FASE 9</button>
            </div>
            <div>
                <div style="display: flex;justify-content:center">
                    <img id="imgTrofeu9" src="" style="width:80px" alt="">
                </div>
                <button class="btn" id="botaoFase10" style="width: auto; text-align: center;font-size:1rem;">FASE 10</button>
            </div>
        </div>


        <div style="display: flex;justify-content:center;">
            <button class="btn" id="closeTrofeus" style="margin-top: 20px;">Voltar</button><br>
        </div>
    </div>
</body>

</html>