<html>

<head>

</head>

<body>
    <!--  -->
    <div id="tutorial_botao">

        <p style="font-size: 1.5rem;">Tutorial dos Botões</p>

        <div style="display: flex;">
            <div style="display: flex;align-items:center">
                <img src="./assets/iconepersonagem.png" style="margin-top: 60px;height:50px;margin: 20px" alt="">
            </div>
            <p style="text-align: start;margin-top: 5px"><br> <span style="color: #c20600;">  Reescolha de personagem</span> após a escolha inicial de personagem. </p>
        </div>
        <div style="display: flex;">
            <div style="display: flex;align-items:center">
                <img src="./assets/iconeVoltarMenu.png" style="margin-top: 60px;height:50px;margin: 20px" alt="">
            </div>
            <p style="text-align: start;margin-top: 5px"><br><span style="color: #c20600;">  Voltar a tela de início,</span> quando o jogo iniciar</p>
        </div>
        <div style="display: flex;">
            <div style="display: flex;align-items:center">
                <img src="./assets/iconesom.png" style="margin-top: 60px;height:50px;margin: 20px" alt="">
            </div>
            <p style="text-align: start;margin-top: 5px"><br><span style="color: #c20600;">  Ativar ou desativar o som</span> do jogo<span></span></p>
        </div>
        <div style="display: flex;justify-content:center">
            <button class="btn" id="passarTutorial_botao" style="margin-top: 100px;margin-left: 5px;position: absolute;;bottom:40px">Continuar</button><br>
        </div>
    </div>
</body>

</html>