<html>

<head>

</head>

<body>
    <!--  -->
    <div id="tutorial">


        <div style="display: flex;">
            <div style="display: flex;align-items:center">
                <img src="./assets/trofeu-ouro.png" style="width: 50px;height:50px" alt="">
            </div>
            <p style="text-align: start;"><b>Troféu de Ouro:</b> <br>Responda as perguntas em menos de <span style="color: #c20600;">20 segundos</span></p>
        </div>
        <div style="display: flex;">
            <div style="display: flex;align-items:center">
                <img src="./assets/trofeu-prata.png" style="width: 50px;height:50px" alt="">
            </div>
            <p style="text-align: start;"><b>Troféu de Prata:</b> <br>Responda as perguntas em menos de <span style="color: #c20600;">30 segundos</span></p>
        </div>
        <div style="display: flex;">
            <div style="display: flex;align-items:center">
                <img src="./assets/trofeu-bronze.png" style="width: 50px;height:50px" alt="">
            </div>
            <p style="text-align: start;"><b>Troféu de Bronze:</b><br>Responda as perguntas em menos de <span style="color: #c20600;">40 segundos</span></p>
        </div>
        <div style="display: flex;">
            <div style="display: flex;align-items:center">
                <img src="./assets/trofeu-quebrado.png" style="width: 50px;height:50px" alt="">
            </div>
            <p style="text-align: start;"><b>Troféu Quebrado:</b><br>Caso você erre a pergunta ou o temporizador esgote</p>
        </div>
        <div style="display: flex;justify-content:center">
            <button class="btn" id="passarTutorial" style="margin-top: 20px;position:absolute;bottom:40px">Continuar</button><br>
        </div>
    </div>
</body>

</html>